* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease;
}

body {
  font-size: 100%;
  background-color: green;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul {
  list-style: none;
}
