@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");

//colors
$white: #ffffff;
$black: #1c1c1b;
$green: #9db892;
$dark-green: #272922;
$star-color: #aab384;
$bgc-color: #f7f8f3;
$text-color: #6e774a;

//font-sizes
$title-size: 55px;
$logo-size: 30px;
$middle-size: 26px;
$sub-title-size: 24px;
$btn-size: 20px;
$link-size: 18px;
$nav-size: 16px;

$main-font: "Oswald", sans-serif;
